@charset "utf-8";

/* 共通パーツコンポーネント */

/* background */
.v-main{
    background-color: #F7F7F7;
}

/* input */
.v-field__outline::before,
.v-field__outline::after{
 border:none !important;
}

input{
    padding-top:0 !important;
    font-size:14px;
}
.v-field__field{
    height:2.5em;
}
.v-field__input,
.v-field__append-inner{
    padding-top:8px;
    font-size:14px;
}

/* メインの入れ物 (主にcardでまとめる)*/
.main-cont{
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border:unset;
}
.v-container{
    max-width:900px !important;
}

/* 碧色のボタン */
.green-btn {
    border-radius: 5px;
    background-color: #69A5AF;
    color:#fff;
    box-shadow: unset;
}
.green-btn:hover{
    opacity:.8;
    box-shadow: unset;
}


