@charset "utf-8";

/* 共通パーツコンポーネント */

/* background */
.v-main{
    background-color: #F7F7F7;
}

/* 文字色 */
* {
    color:#707070;
}


/* メインの入れ物 (主にcardでまとめる)*/
.main-cont{
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border:unset;
}
.v-container{
    max-width:900px !important;
}
@media (min-width: 576px){
    .v-container{
       
    }
}
/* 碧色のボタン */
.green-btn {
    border-radius: 5px;
    background-color: #69A5AF;
    color:#fff;
    box-shadow: unset;
}
.green-btn:hover{
    opacity:.8;
    box-shadow: unset;
}


