@charset "utf-8";

.v-menu .v-overlay__content > .v-list{
    background-color: #7B7B7B;
}
.v-overlay .v-list-item-title {
    color:#fff;
    font-size:.85rem;
}
.v-overlay .v-list-item:hover{
    background-color: #8E8E8E;
}
.v-overlay .v-list-item--density-default.v-list-item--one-line {
    min-height: 30px;
}

.filter-btn > .v-input__control > .v-field > .v-field__overlay{
    display: none;
}

.whiteline{
    border-top: 1px solid white;
}

.gallery-library-search-select>div>.v-field.v-field--appended {
    margin-top: -0.5rem;
}

.gallery-library-search-select>div>div>div>.v-field__input {
    margin-top: -0.5rem;
}

.gallery-library-search-datepicker>div>.dp__input_wrap {
    top: -0.5rem;
}

.gallery-library-search-datepicker>div {
    height: 2.5rem;
}