@charset "utf-8";

/* inputリセット */
.v-field__outline::before,
.v-field__outline::after{
 border:none !important;
}

input{
    padding-top:0 !important;
    font-size:14px;
}
.v-field__field{
    height:2.5em;
}



.v-input__append{
    padding-top:8px !important;
}

/* selectbox */
.shop-sel{
    max-width: 150px;
}
.main-cont .v-field__input{
    padding-top: 7px;
}
.shop-auth .v-input__control{
    background-color: #fff;
    border:solid 1px rgba(0, 0, 0, .2);
    border-radius: 0.375rem;
}
.shop-auth .v-field__overlay{
    color:#fff !important;
}
.shop-auth .v-field__field {
    height: 2em;
}
.v-field__input,
.v-field__append-inner{
    padding-top:6px;
    font-size:14px;
}