@charset "utf-8";

/* 一件あたりの表示件数を表示しない */
.pagination__rows-per-page {
    display: none !important;
}

.vue3-easy-data-table__header th,td {
    white-space: nowrap  !important;
}

/*テーブルヘッダーセンタリング */
.vue3-easy-data-table__header th .header.direction-left {
  justify-content: center !important;
  font-weight: 400 !important;
  font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
}

.vue3-easy-data-table__main.fixed-header th[data-v-2ea569e3]:nth-of-type(8) > span,
.vue3-easy-data-table__main.fixed-header th[data-v-2ea569e3]:nth-of-type(9) > span{
    justify-content: space-evenly !important;
}

.vue3-easy-data-table__footer .pagination__items-index {
    color: #707070;
}

.vue3-easy-data-table__header th .header.direction-left {
    justify-content: center !important;
}

.customize-table {
    /* 表の罫線 */
    --easy-table-row-border: none;

    /* 表の背景色 */
    --easy-table-header-background-color: #F7F7F7;

    /* フッターのpadding追加 */
    --easy-table-footer-padding: 1.5rem;

    /* フッターフォントサイズ */
    --easy-table-footer-font-size: 14px;

    /* ヘッダーカラー */
    --easy-table-header-font-color: #707070;

    /* アイテムフォントカラー */
    --easy-table-body-row-font-color: #707070;

    /* フッターフォントカラー */
    --easy-table-footer-font-color: #707070;

    /* テーブル行height */
    --easy-table-body-row-height: 70px;
}

.customize-table > a {
    color: #69A5AF;
}

/* 検索フォーム */
.searchform {
    height: 45px !important;
}

.searchform-list {
    position: relative;
    max-width: 300px;
}

.searchform-list > .search-box {
    padding: 0px 30px 0px 8px;
    border-radius: 8px;
    width: 16vw;
}

@media (max-width: 599.99px){
    .searchform-list > .search-box{
        width: 55vw;
        font-size: 12px;
    }
}

.searchform-list > .serch-btn {
    height:50px;
    position:absolute;
    top:-2px;
    background:none;
    color:#666;
    border:none;
    font-size:14px;
    right: 10px;
}

/* テキスト調整 */
.vue3-easy-data-table__body td.direction-left {
    text-align: center !important;
    color: #707070 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}
