@charset "utf-8";


.v-field--no-label{
    border-radius: 40px !important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    max-width: 54%;

    margin-left: auto;
    margin-right: auto;
}

.v-field--no-label .v-field__overlay{
    background-color: white;
    max-height: 70%;
    
}